<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }
      .container {
        margin: 50px auto;
        width: 80%;
        text-align: center;
      }
      h1 {
        font-size: 48px;
        margin-bottom: 20px;
      }
      p {
        font-size: 24px;
        margin-bottom: 30px;
      }
      button {
        background-color: #7c40a9;
        color: white;
        font-size: 20px;
        padding: 15px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      button:hover {
        background-color: #7c40a9;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Oops! Something went wrong.</h1>
      <p>We're sorry, Your message could not be sent as an error occured while processing your request. <br><br>

        Please Check if you have filled the form correctly or try again later.</p>
      <button onclick="window.location.href='/'">Go to Homepage</button>
    </div>
  </body>
</html>
