<div class="container-fluid mt-5 service-style" id="serviceid">

    <div class="row">
        <div class="col-mid-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Skills Deployed</h1>
            <p class="text-center sub-heading">Here is set of skills used to make this project.</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/html5.png" alt="HTML" class="img-response">
                            </div>
                            <h4>HTML</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="images/css3.png" alt="CSS" class="img-response">
                            </div>
                            <h4>CSS</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="images/javascript.png" alt="JavaScript" class="img-response">
                            </div>
                            <h4>JavaScript</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="images/bootstrap.png" alt="Bootstrap" class="img-response">
                            </div>
                            <h4>Bootstrap</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="images/node-js.png" alt="NodeJs" class="img-response">
                            </div>
                            <h4>NodeJs</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="images/express.png" alt="expressJs" class="img-response">
                            </div>
                            <h4>ExpressJs</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="images/mongodb.png" alt="mongoDB" class="img-response">
                            </div>
                            <h4>MongoDB</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/github.png" alt="Github" class="img-response">
                            </div>
                            <h4>Github</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col-md-3">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/html5.svg" alt="HTML">
                            </div>
                            <h4>HTML</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quo.</p>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</div>